
*{
	font-size: 25px;
	font-family: Cursive;
	line-height: 2;
	font-weight: 200;
	color: black;

}

div{
	height: 300px;
	width: 300px;
	background: lightgoldenrodyellow;
	margin: auto;
	border: 10px solid darkred;
	overflow: auto;

}

.caja1{
top: 0;
}
.caja2{
right: 0;
}
.caja3{
bottom: 0;
left: 0;
}
.caja4{
bottom: 0;
right: 0;
}

p{

}

