*{
	background: black;
	font-size: 25px;
	font-family: Cursive;
	line-height: 2;
	font-weight: 200;
	color: black;

}
div{
	height: 300px;
	width: 500px;
	background: whitesmoke;
	margin: auto;
	border: 8px solid steelblue;
	overflow: hidden;
	
}

.phy{
	position: relative;
	height: 285px;
	top: 300px;
	transition: all 1s;
}

div:hover > img{
	position: relative;
	top: 0;
}


